<form nz-form [formGroup]="form" class="login-form" autocomplete="off">
  <nz-form-item>
    <nz-form-control nzHasFeedback [nzErrorTip]="emailError">
      <input
        nz-input
        formControlName="email"
        placeholder="{{ 'email' | translate }}"
        type="email"
      />
      <ng-template #emailError let-control>
        <ng-container *ngIf="validForm('email', 'email')">{{
          'mustBeEmail' | translate
        }}</ng-container>
        <ng-container *ngIf="validForm('email', 'required')">{{
          'required' | translate
        }}</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <button
    nz-button
    class="login-form-button login-form-margin"
    [nzType]="'primary'"
    [nzType]="'primary'"
    [disabled]="!form.valid"
    [nzLoading]="loading"
    (click)="forgetPassword()"
  >
    forget password
  </button>
  Or
  <a routerLink="/auth/signin">back to login page</a>
</form>
Ø
