<input
  nz-input
  [(ngModel)]="searchWord"
  placeholder="{{ 'searchHere' | translate }}"
  (keyup.enter)="search()"
/>

<!-- [nzData]="users" -->
<nz-table
  [nzData]="users$ | async"
  #rowSelectionTable
  nzShowSizeChanger
  [nzLoading]="loading"
  [nzPageSize]="pageSize"
  [nzTotal]="total"
  (nzPageIndexChange)="changePage($event)"
  [nzFrontPagination]="false"
  (nzPageSizeChange)="pageSizeChange($event)"
>
  <thead>
    <tr>
      <th>firstname</th>
      <th>lastname</th>
      <th>email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data">
      <td>{{ data.firstname }}</td>
      <td>{{ data.lastname }}</td>
      <td>{{ data.email }}</td>
    </tr>
  </tbody>
</nz-table>
